@using DATN.Controllers
@inject DATN.Models.Context.DATNDbContext DbContext
@{
	var roomTypes = GetDataController.GetRoomTypes(DbContext);
	var rooms = GetDataController.GetRoom(DbContext);
	var services = GetDataController.GetService(DbContext);
	var resort = GetDataController.GetResort(DbContext);
}
<style>
	.alert-container {
		position: fixed;
		top: 20px;
		right: 20px;
		z-index: 1050; /* Ensure it is above other elements */
		width: 300px;
	}
</style>
@if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null)
{
	<div id="tempMessage" class="alert-container">
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				@TempData["SuccessMessage"]
			</div>
		}
		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				@TempData["ErrorMessage"]
			</div>
		}
	</div>
}

<div class="container-fluid banner">
	<div class="row banner-slide">
		@foreach(var item in rooms)
		{
			<div class="col-xl-12 col-lg-12 col-md-12 col-xs-12 col-12 banner-item" style="background-image: url('@Url.Content("~/images/room/"+item.Image)');">
				<div class="title banner-word">
					<p> </p>
				</div>
				<div class="description banner-word">
					<p> </p>
				</div>
			</div>
		}
	</div>
	<div class="prev-banner-box"><span><i class="fa fa-angle-left" id="prevBanner"></i></span></div>
	<div class="next-banner-box"><span><i class="fa fa-angle-right" id="nextBanner"></i></span></div>
	<form method="post" asp-controller="Booking">
		<div class="booking">
			<div class="row" style="background-color: #faf9f8">
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 item item-sm">
					<p>Loại phòng<span>*</span></p>
					<div class="infos">
						<select class="criteria">
							<option value="">Tất cả</option>
							@foreach(var item in roomTypes)
							{
								<option>@item.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 item item-md">
					<p>Thời gian nhận phòng<span>*</span></p>
					<div class="infos">
						<input type="date" name="checkInDate" class="criteria" required>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
					<p>Thời gian trả phòng<span>*</span></p>
					<div class="infos">
						<input type="date" name="checkOutDate" class="criteria" required>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 item item-lg">
					<p style="color: transparent;">A</p>
					<div class="infos">
						<input type="submit" name="" value="ĐẶT PHÒNG NGAY" class="criteria sub-btn">
					</div>
				</div>

			</div>
		</div>
	</form>
	
</div>

<!-- end carousel banner -->
<!-- welcome -->
@Html.Raw(resort.Description)

<!-- end welcome -->
<!-- dining -->
<div class="container-fluid dining">
	<div class="container words">
		<p class="title">Dịch vụ của chúng tôi</p>
		<div class="icon-title">
			<img src="~/FE/img/icon-title.png">
		</div>
	</div>
	<div class="images container">
		<div class="row dining-slide">
			@foreach(var service in services)
			{
				<div class="col-12 dining-item" style="background-image: url('@Url.Content("~/images/service/"+service.Image)');">
					<div class="info">
						<p class="title">@service.Title</p>
						<p class="detail">
							@service.Description
						</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<!-- end dining -->
<!-- blogs -->
<div class="container-fluid blogs">
	<div class="container title">
		<p>Hệ thống phòng nghỉ</p>
		<div class="icon-title">
			<img src="~/FE/img/icon-title.png">
		</div>
	</div>
	<div class="container info">
		<div class="row">
			@foreach(var item in rooms.Take(4))
			{
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="itemBox">
						<div class="item">
							<div class="img" style="background-image: url('@Url.Content("~/images/room/"+item.Image)');"></div>
							<div class="slice"></div>
							<p class="info-title">@item.Name</p>
							<p class="time">@item.Price.ToString("#,##0 VND") <span><i class="fas fa-comment"></i> @item.CommentCount</span></p>

							<div class="slice"></div>
							<p class="detail">
								@item.Description
							</p>
							<p class="more"><a href="/DetailRoom/@item.ID">Chi tiết</a></p>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="blog-btn">
			<a href="/ListRoom">
				<input type="submit" name="" value="Tất cả phòng nghỉ">
			</a>
		</div>
	</div>
</div>
<!-- end blogs -->

<div class="container-fluid check">
	<div class="container check-items">
	</div>
</div>

<script>
	setTimeout(() => {
		const alertBox = document.getElementById('tempMessage');
		if (alertBox) {
			alertBox.style.transition = 'opacity 0.5s ease';
			alertBox.style.opacity = 0;
			setTimeout(() => alertBox.remove(), 500);
		}
	}, 5000); // 5 seconds
</script>
